[submodule "votenet"]
	path = votenet
	url = https://github.com/facebookresearch/votenet
[submodule "Pointnet2_PyTorch"]
	path = Pointnet2_PyTorch
	url = https://github.com/erikwijmans/Pointnet2_PyTorch
[submodule "a-PyTorch-Tutorial-to-Image-Captioning"]
	path = a-PyTorch-Tutorial-to-Image-Captioning
	url = https://github.com/sgrvinod/a-PyTorch-Tutorial-to-Image-Captioning.git
[submodule "ScanRefer"]
	path = ScanRefer
	url = https://github.com/daveredrum/ScanRefer.git
